.faq-title {
    width: 476px;
    margin: 0 auto;
    text-align: center;
    
    &::before {
        content: "";
        display: block;
        width: 41px;
        height: 38.9px;
        margin-left: auto;
        background: url("/images/banner-illustration.png") no-repeat;
    }
}

.faq-box {
    width:  fit-content;
    margin: 64.8px auto 0;
    flex-direction: column;
    gap: 20.44px;
}