.post-main {
    margin-top: 126px;
    margin-left: 96px;
    font-family: "Poppins", sans-serif;
}

.post-main-title {
    font-weight: 600;
    font-size: 37.4px;
    line-height: 44.5px;
    color: #252525;
}

.post-main-author {
    margin-top: 32px;
    margin-bottom: 61.5px;
    gap: 14.61px;

    .author-above {
        font-size: 15.04px;
        color: #8D8D8D;
    }

    .author-name {
        font-weight: 500;
        font-size: 21.75px;
        line-height: 33.4px;
        color: var(--black);
    }
}

.post-content {
    margin-top: 80px;
    margin-bottom: 168px;
    margin-left: 99px;
    gap: 75px;

    article {
        font-family: "Poppins", sans-serif;

        >div:nth-child(2) {
            margin-top: 100px;
        }

        >div:nth-child(3) {
            margin-top: 90px;
        }
    }

    .article-bl-title {
        font-weight: 600;
        font-size: 33px;
        line-height: 44.5px;
        color: #252525;
    }

    .article-bl-desc {
        width: 815px;
        margin-top: 35px;
        font-size: 22px;
        line-height: 44.4px;
        text-align: justify;
        color: #252525;
    }

    .article-bl-list {
        margin-top: 56px;
        margin-left: 27px;

        li {
            margin-bottom: 6px;
            font-size: 22px;
            line-height: 44.5px;
            color: #252525;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.post-next {
    display: block;
    width: 245px;
    margin-top: 100px;
    padding-top: 24.79px;
    padding-bottom: 25.92px;
    padding-left: 27.2px;
    background: #6C5FBC url(/images/arrow.png) no-repeat 191.33px;
    border-radius: 16.49px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20.29px;
    color: #F4F4F4;
}

.post-top {
    height: fit-content;
    padding-left: 34px;
    border-left: 1px solid #9B9B9B;
}

.post-top-title {
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #252525;
}

.post-top-box {
    margin-top: 17px;
    flex-direction: column;
    gap: 22.58px;
}